<!DOCTYPE html>
<html>
<head>
  <title>RoseNav Tile Server</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <h1>Hello World!</h1>
    <p>This will become a RoseNav tile server. See the repo here: <a href="https://github.com/budak7273/CSSE490-RoseNav-TileServer">https://github.com/budak7273/CSSE490-RoseNav-TileServer</a></p>
    <p>or RoseNav itself here: <a href="https://github.com/budak7273/CSSE280-RoseNav">https://github.com/budak7273/CSSE280-RoseNav</a></p>
</body>
</html>
